.aboutSection {
  display: flex;
  align-items: flex-start; /* Align at the top */
  background: var(--primary-color);
  color: var(--text-color);
  padding: 20px;
  margin: 20px 0;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.profilePicContainer {
  display: flex;
  flex-direction: column; /* Stack image and skills vertically */
  align-items: center;
  margin-right: 20px;
}

.profilePic {
  width: 200px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 20px; /* Space between image and skills */
}

.aboutText {
  flex: 1;
}

.skillsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Adjust as necessary to align items */
}


.skills {
  width: 100%;
}

.skill {
  width: 48%; /* Adjust width to fit two skills per row */
  margin-bottom: 10px;
}


.skillName {
  font-weight: bold;
  margin-bottom: 5px;
}

.skillBar {
  background-color: #654848;
  height: 20px;
  border-radius: 5px;
  overflow: hidden;
}

.skillLevel {
  background-color: var(--text-color); /* Use a variable or specific color */
  height: 100%;
  border-radius: 5px;
}

.skillsColumn:last-child {
  margin-right: 0;
}

.skillsColumn {
  flex: 1; /* Each column takes equal width */
  margin-right: 20px; /* Add some space between columns */
}

.skillsRow {
  display: flex;
  justify-content: space-between;
}
