input, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  background-color: var(--button-background-color); /* Use variable */
  color: white; /* Adjust based on your theme or keep it constant */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: var(--button-hover-background-color); /* Use variable */
}