:root {
  --button-background-color-light: #007bff; 
  --button-background-color-dark: #000080; 
  --button-hover-background-color-light: #0056b3; 
  --button-hover-background-color-dark: #000033; 

  --background-color-light: #ffffff; /* White */
  --primary-light: #007bff; /* Royal Blue */
  --text-light: #000000; /* Black text */

  --background-color-dark: #000000; /* Black */
  --primary-dark: #000080; /* Navy Blue */
  --text-dark: #ffffff; /* White text */
}

body[data-theme="light"] {
  --background-color: var(--background-color-light);
  --primary-color: var(--primary-light);
  --text-color: var(--text-light);
  --button-background-color: var(--button-background-color-light);
  --button-hover-background-color: var(--button-hover-background-color-light);
}

body[data-theme="dark"] {
  --background-color: var(--background-color-dark);
  --primary-color: var(--primary-dark);
  --text-color: var(--text-dark);
  --button-background-color: var(--button-background-color-dark);
  --button-hover-background-color: var(--button-hover-background-color-dark);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*ensuring button and links also respect the theme */
button, .links a {
  color: var(--text-color);
}

button:hover {
  background-color: var(--primary-color);
}

.resume-heading {
  text-align: center;
  margin: 0;
  padding: 20px 0;
}

.resume-content {
  max-width: 1000px; 
  margin: auto;
  overflow: hidden; 
  font-size: 16px; 
}

.intro-text {
  font-size: 40px; 
  line-height: 1.5; 
  margin: 0 0 20px; 
}

